services:
  - type: web
    name: n8n-service
    env: docker
    plan: starter
    region: oregon

    dockerContext: .
    dockerfilePath: ./Dockerfile

    envVars:
      - key: DB_TYPE
        value: postgresdb

      - key: DB_POSTGRESDB_HOST
        fromDatabase:
          name: n8n-db
          property: host

      - key: DB_POSTGRESDB_PORT
        fromDatabase:
          name: n8n-db
          property: port

      - key: DB_POSTGRESDB_USER
        fromDatabase:
          name: n8n-db
          property: user

      - key: DB_POSTGRESDB_PASSWORD
        fromDatabase:
          name: n8n-db
          property: password

      - key: DB_POSTGRESDB_DATABASE
        fromDatabase:
          name: n8n-db
          property: database

      - key: N8N_ENCRYPTION_KEY
        sync: false   # you will manually set this in Render

      - key: N8N_PROTOCOL
        value: "https"

      - key: N8N_HOST
        value: "" # leave empty for now, we will set it in Render UI

      - key: WEBHOOK_URL
        value: "" # will set after deployment


